{% extends "layout.html" %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Sales
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Sales</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- Products -->
    <div class="col-md-7" 
        style="overflow: auto; height: 480px">
      {% for product in products %}
        {% if product.quantity <= 0 %}
          <div class="col-md-4 col-sm-6 col-xs-12" 
              style="cursor:not-allowed;">
            <div class="info-box" 
                style="padding: 5px 5px 5px 5px;">
              <strong>{{ product.name }} <span class="badge">{{ product.quantity }}</span></strong>
              <br>
              <small>{{ product.description }}</small><br><br>
              <small class="pull-right">₱ {{ '%0.2f' % product.srp|float }}</small>
            </div>
          </div>
        {% else %}
          <div class="col-md-4 col-sm-6 col-xs-12" 
              style="cursor:pointer;" 
              onclick='addPosProduct({{ product|tojson|safe }})'>
            <div class="info-box" style="padding: 5px 5px 5px 5px;">
              <strong>{{ product.name }} <span class="badge">{{ product.quantity }}</span></strong>
              <br>
              <small>{{ product.description }}</small><br><br>
              <small class="pull-right">₱ {{ '%0.2f' % product.srp|float }}</small>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- Cart -->
    <div class="col-md-5">
      <div class="box" style="overflow: auto; height: 480px">
        <!-- /.box-header -->
        <div class="box-body">
          <form role="form" action="" method="post" class="pos-form">
            <div class="box-body">
              <!-- Input informations -->
              <div class="form-group">
                <input type="text" 
                    class="form-control" 
                    id="invoice_no" 
                    name="invoice_no" 
                    placeholder="Invoice no.">
              </div>
              <div class="form-group">
                <input type="text" 
                    class="form-control" 
                    id="customer_name" 
                    name="customer_name" 
                    placeholder="Customer name">
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">₱</span>
                  <input type="text" 
                      class="form-control" 
                      id="customer_payment" 
                      name="customer_payment" 
                      placeholder="Payment" 
                      onkeyup="calculateChange()">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">₱</span>
                  <input type="text" 
                      class="form-control" 
                      id="customer_total" 
                      name="customer_total" 
                      placeholder="Total" 
                      readonly>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">₱</span>
                  <input type="text" 
                      class="form-control" 
                      id="customer_change" 
                      name="customer_change" 
                      placeholder="Change" 
                      readonly>
                </div>
              </div>
              <table id="pos-product-table" 
                  class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>SRP</th>
                    <th>Quantity</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->

            <div class="box-footer">
              <button type="submit" 
                  class="btn btn-success btn-pos-submit" 
                  onclick="onPosSubmit()" 
                  disabled>Done
              </button>
            </div>
          </form>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>

  <div class="row">
  </div>
</section>
{% endblock %}