{% extends "layout.html" %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Settings <small>Products</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Settings</li>
    <li class="active">Products</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <a href="/add_product" 
              class="btn btn-success">
            <i class="fa fa-plus"></i> Add
          </a>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Capital</th>
                <th>SRP</th>
                <th>Alert limit</th>
                <th>Added by</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
              <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }} <span class="badge">{{ product.quantity }}</span></td>
                <td>{{ product.description }}</td>
                <td>{{ '%0.2f' % product.capital|float }}</td>
                <td>{{ '%0.2f' % product.srp|float }}</td>
                <td>{{ product.alert_limit }}</td>
                <td>{{ product.added_by }}</td>
                <td>
                  <a href="/edit_product/{{ product.id }}" 
                      class="btn btn-default pull-right">
                    <i class="glyphicon glyphicon-edit">
                  </a>
                </td>
                <td>
                  <form action="{{ url_for('delete_product',id=product.id) }}" 
                      method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">
                      <i class="glyphicon glyphicon-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Capital</th>
              <th>SRP</th>
              <th>Alert limit</th>
              <th>Added by</th>
              <th></th>
              <th></th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% endblock %}