{% extends "layout.html" %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Reports <small>Sales</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Reports</li>
    <li class="active">Sales</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" 
              class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Invoice no.</th>
                <th>Customer</th>
                <th>Amount</th>
                <th>Payment</th>
                <th>Change</th>
                <th>Added by</th>
                <th>Date created</th>
              </tr>
            </thead>
            <tbody>
              {% for d in data %}
              <tr>
                <td>{{ d.id }}</td>
                <td>{{ d.invoice_no }}</td>
                <td>{{ d.customer }}</td>
                <td>{{ '%0.2f' % d.amount|float }}</td>
                <td>{{ '%0.2f' % d.payment|float }}</td>
                <td>{{ '%0.2f' % d.payment_change|float }}</td>
                <td>{{ d.added_by }}</td>
                <td>{{ d.date_created }}</td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            <tr>
              <th>ID</th>
              <th>Invoice no.</th>
              <th>Customer</th>
              <th>Amount</th>
              <th>Payment</th>
              <th>Change</th>
              <th>Added by</th>
              <th>Date created</th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% endblock %}