{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {% if category == "danger" %}
          <h4><i class="icon fa fa-ban"></i> Alert!</h4>
        {% elif category == "info" %}
          <h4><i class="icon fa fa-info"></i> Info!</h4>
        {% elif category == "success" %}
          <h4><i class="icon fa fa-check"></i> Success!</h4>
        {% elif category == "warning" %}
          <h4><i class="icon fa fa-warning"></i> Warning!</h4>
        {% endif %}
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

{% if error %}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i> Error!</h4>
    {{ error }}
  </div>
{% endif %}

{% if msg %}
  <div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-info"></i> Info!</h4>
    {{ msg }}
  </div>
{% endif %}