<table id="example1" class="table table-bordered table-striped">
  <thead>
    <tr>
      {% for header in headers %}
      <th>{{ header | tableHeader }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for d in data %}
      <tr>
      {% for header in headers %}
        <td>{{ d[header] | currencyFormat }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
  <tfoot>
  <tr>
    {% for header in headers %}
    <th>{{ header | tableHeader }}</th>
    {% endfor %}
  </tr>
  </tfoot>
</table>