{% extends "layout.html" %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Sales <small>Order</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Sales Order</li>
    <li class="active">Add</li>
  </ol>
</section>

<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <a href="/sales-order" class="btn btn-default"><i class="fa fa-chevron-left"></i></a>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    {% from "includes/_formhelpers.html" import render_field %}
    <form role="form" action="" method="post">
      <div class="box-body">
        {% for data in form %}
        <div class="form-group">
          {{ render_field(data, class="form-control", autofocus="True") }}
        </div>
        {% endfor %}
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}