{% extends "layout.html" %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Sales <small>Order</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Sales Order</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <a href="/sales-order/add" 
              class="btn btn-success">
            <i class="fa fa-plus"></i> Add
          </a>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Sales Order No.</th>
                <th>Company Name</th>
                <th>Customer Name</th>
                <th>Address/TIN</th>
                <th>Deliver to</th>
                <th>S.O. Date</th>
                <th>Date Needed</th>
                <th>Terms</th>
                <th>Bus. Style</th>
                <th>OSCA/PWD ID No.</th>
                <th>SC/PWD Signature</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for row in data %}
              <tr>
                <td>{{row.sales_order_no}}</td>
                <td>{{row.company_name}}</td>
                <td>{{row.customer_name}}</td>
                <td>{{row.address_tin}}</td>
                <td>{{row.deliver_to}}</td>
                <td>{{row.sales_order_date}}</td>
                <td>{{row.date_needed}}</td>
                <td>{{row.terms}}</td>
                <td>{{row.business_style}}</td>
                <td>{{row.osca_pwd_id_no}}</td>
                <td>{{row.sc_pwd_signature}}</td>
                <td>
                  <a href="/edit_product/{{ row.id }}" 
                      class="btn btn-default pull-right">
                    <i class="glyphicon glyphicon-edit"></i>
                  </a>
                </td>
                <td>
                  <form action="{{ url_for('delete_product',id=row.id) }}" 
                      method="post">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">
                      <i class="glyphicon glyphicon-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            <tr>
              <th>Sales Order No.</th>
              <th>Company Name</th>
              <th>Customer Name</th>
              <th>Address/TIN</th>
              <th>Deliver to</th>
              <th>S.O. Date</th>
              <th>Date Needed</th>
              <th>Terms</th>
              <th>Bus. Style</th>
              <th>OSCA/PWD ID No.</th>
              <th>SC/PWD Signature</th>
              <th></th>
              <th></th>
            </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% endblock %}