{% extends "layout.html" %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Inventory <small>Stocks</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Inventory</li>
    <li class="active">Stocks</li>
    <li class="active">Add</li>
  </ol>
</section>

<section class="content">
  <div class="box box-primary">
    <div class="box-header with-border">
      <a href="/stocks" class="btn btn-default"><i class="fa fa-chevron-left"></i></a>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    {% from "includes/_formhelpers.html" import render_field %}
    <form role="form" action="" method="post">
      <div class="box-body">
        <div class="form-group">
          {{ render_field(form.product_id, class="form-control select2", autofocus="True", style="width: 100%;") }}
        </div>
        <div class="form-group">
          {{ render_field(form.capital, class="form-control peso") }}
        </div>
        <div class="form-group">
          {{ render_field(form.srp, class="form-control peso") }}
        </div>
        <div class="form-group">
          {{ render_field(form.quantity, class="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.type, class="form-control") }}
        </div>
        <div class="form-group">
          {{ render_field(form.remarks, class="form-control") }}
        </div>
      </div>
      <!-- /.box-body -->

      <div class="box-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}