{% extends "layout.html" %}

{% block body %}
  <h1>Edit Product</h1>
  {% from "includes/_formhelpers.html" import render_field %}
  <form method="POST" action="">
    <div class="form-group">
      {{ render_field(form.product_id, class="form-control", autofocus="True") }}
    </div>
    <div class="form-group">
      {{ render_field(form.quantity, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.type, class="form-control") }}
    </div>
    <div class="form-group">
      {{ render_field(form.remarks, class="form-control") }}
    </div>
    <p>
      <input type="submit" class="btn btn-primary" value="Submit">
      <a href="/products" class="btn btn-default">Cancel</a>
    </p>
  </form>
{% endblock %}