{% extends "layout.html" %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Inventory <small>Monitoring</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Inventory</li>
    <li class="active">Monitoring</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          {% include "includes/_table.html" %}
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% endblock %}