{% extends "layout.html" %}

{% block body %}
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Inventory <small>Stocks</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Inventory</li>
    <li class="active">Stocks</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <!-- <div class="col-xs-6">
          <label><strong>Total Products: </strong></label>
          <label>{{ subdata["total_products"] }}</label>
        </div>
        <div class="col-xs-6">
          <label><strong>Total Stocks: </strong></label>
          <label>{{ subdata["total_stocks"] }}</label>
        </div> -->
        <div class="box-header">
          <!-- <h3 class="box-title">Data Table With Full Features</h3> -->
          <a href="/add_stock" class="btn btn-success">
            <i class="fa fa-plus"></i> Add
          </a>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          {% include "includes/_table.html" %}
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% endblock %}