<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>AdminPOS</title>
  <!-- <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/sidenav.css"> -->

  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/static/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/static/AdminLTE/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/static/AdminLTE/bower_components/Ionicons/css/ionicons.min.css">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="/static/AdminLTE/plugins/iCheck/square/blue.css">
  <!-- Dashboard -->
  <link rel="stylesheet" href="/static/AdminLTE/bower_components/jvectormap/jquery-jvectormap.css">
  <!-- Data Tables -->
  <link rel="stylesheet" href="/static/AdminLTE/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="/static/AdminLTE/bower_components/select2/dist/css/select2.min.css">
  <!-- AdminLTE -->
  <link rel="stylesheet" href="/static/AdminLTE/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/static/AdminLTE/dist/css/skins/_all-skins.min.css">
  <!-- Custom Style -->
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="{{'hold-transition skin-blue sidebar-mini' if session.logged_in }}">

  <div class="{{'wrapper' if session.logged_in }}">
      
    {% include "includes/_navbar.html" %}

    {% include "includes/_sidebar.html" %}

    <div class="{{'content-wrapper' if session.logged_in}}">
      {% include "includes/_messages.html" %}
      {% block body %} {% endblock %}
    </div>

    {% if session.logged_in %}

    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
      </div>
      <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
      reserved.
    </footer>

    {# include "includes/_controlsidebar.html" #}

    <div class="control-sidebar-bg"></div>

    {% endif %}

  </div>

  <!-- ADMIN LTE -->
  <script src="/static/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/static/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/AdminLTE/plugins/iCheck/icheck.min.js"></script>
  <script src="/static/AdminLTE/bower_components/fastclick/lib/fastclick.js"></script>
  <script src="/static/AdminLTE/dist/js/adminlte.min.js"></script>
  <script src="/static/AdminLTE/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
  <script src="/static/AdminLTE/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
  <script src="/static/AdminLTE/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <script src="/static/AdminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <script src="/static/AdminLTE/bower_components/chart.js/Chart.js"></script>
  <script src="/static/AdminLTE/dist/js/demo.js"></script>
  <script src="/static/AdminLTE/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/static/AdminLTE/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="/static/AdminLTE/bower_components/select2/dist/js/select2.full.min.js"></script>
  <script>
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' /* optional */
      });

      $('#example1').DataTable();
      $('#example2').DataTable({
        'paging'      : true,
        'lengthChange': false,
        'searching'   : false,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false
      });

      $('.select2').select2();

      $(".alert").delay(200).addClass("in").fadeOut(10000);
    });
  </script>

  <!-- <script src="/static/jquery-1.11.3.min.js"></script>
  <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <script src="/static/ckeditor_4.8.0_basic/ckeditor/ckeditor.js"></script>
  <script type="text/javascript">
    if (window.location.href.indexOf("add_article") != -1) {
      CKEDITOR.replace("editor")
    }
  </script> -->
  <script src="/static/js/pos.js"></script>
  <script src="/static/js/stocks.js"></script>
</body>
</html>